* {
    padding: 0px;
    margin: 0px;
}
body {
    min-width: 1330px;
    width: 100%;
    height: 100%;
    background-color: #E4E6F1;
}
/* HEADER */
.header {
    width: 100%;
    background-color: black;
}
.navigation_1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0 30px 0;
    margin: 0 40px 0 40px;
   
}
.navigation_1 .logo {
    display: flex;
    
}
.navigation_1 .nav ul {
    display: flex;
    
    align-items: center;
    gap: 40px;
   
}
.navigation_1 .nav ul li {
    display: flex;
    align-items: center;
}
.navigation_1 .nav ul li a {
    text-decoration: none;
    color: white;
}
.navigation_1 .nav ul li #buttom {
    width: 211px;
    height: 50px;
    color: black;
    background-color: #FFAC12;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 20px;
}
.navigation_1 .nav ul li #buttom img {
    margin-top: 3px;
    padding-left: 10px;
}
.header .line {
    border: 1px solid white;
    background: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.1;
}

.navigation_2 {
    display: flex;
    justify-content: space-between;
    margin: 0 40px 0 40px;
    padding: 30px 0 30px 0;
}
.navigation_2 .address{
    color: white;
    
}
.navigation_2 .price {
    color: white;
}
/* CONTETN */

.content .background_house {
    display: flex;
    height: 520px;
    
    /* background: url('.asssets/img/house.svg');
    border-radius: 0px 57px 0px 0px; */
}
.content .login_form {
    
    width: 336px;
    height: 520px;  
    margin-left: 25px;
    border-radius: 20px;
    background-color: white;
}
.content {
    display: flex;
    margin: 40px 185px 0 185px;
    
}
.content .rectangle {
    width: 296px;
    height: 70px;
    margin: 20px 20px 0 20px;
    border-radius: 20px;
    background-color: #F5F5F5;
}
.content .name {
    width: 296px;
    height: 60px;
    margin: 20px 20px 0 20px;
    border: 1px solid #F5F5F5;
    border-radius: 20px;
    
}
.content .introduce {
    width: 296px;
    height: 100px;
    margin: 20px 20px 0 20px;
    border: 1px solid #F5F5F5;
    border-radius: 20px;
}
.content .login_form {
    display: flex;
    align-items: flex-start;
    flex-direction: column;

}