@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
* {
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Inter';
}
/* INFOR */
.info {
    width: 100%;
    height: 40px;
    background-color: #024165;
}
.info p {
    color: white;
    font-style: italic;
    font-weight: 700;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
}
/* HEADER */
.header {
    width: auto;
    display: flex;
    justify-content: space-between;
    margin: 16px 22px 0 22px;  
}
.header .logo {
    color: #023856;
    font-weight: 700;
    font-size: 14px;
    line-height: 37px;
 }
.header ul {
  display: flex;
 }
.header ul li {
    list-style: none;
    margin-left: 20px;
}
.Search {
    position: relative;
}
.Search #box-search {
    width: 193px;
    height: 33px;
    border-radius: 20px;
    border: 2px solid #2DB0FA;
    padding-left: 20px;
    font-style: oblique;
}
.Search span {
    position: absolute;
    margin-top: 10px;
    left: 190px;
}
.profile #user-icon {
    margin-top: 10px;
}
.login {
    width: 110px;
    height: 37px;
    line-height: 37px;
    padding-top: auto;
    padding-bottom: auto;
    text-align: center;
    border-radius: 20px;
    color: white;
    background: #024165;
    
}
/* This is NAVIGATION */
.navigation {
    position: relative;
}
.navigation ul{
    display: flex;
    justify-content: left;
    
}
.navigation ul li {
    display: flex;
    text-align: right;
    list-style: none;
    margin: 20px;
    
}
.navigation ul span {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 2px;
    height: auto;
    background-color: #023856;
}
.navigation ul li a{
  
    color: black;
    padding: 6px 15px;
    text-decoration: none;
    
}
.navigation ul li a:hover,
.navigation ul li .active {
    color: white;
    background-color: #023856;
}
/* This is Main-NEWS */
.main-news {
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
}
    /* This is new-title */
.new-title {
    display: flex;
    text-align: left;
}
.new-title div {
    margin-left: 20px;
    margin-right: 20px;
    width: 600px;
}
.new-title div p strong{
    color: #AEA3A3;
}
.new-title div .text-down {
    position:relative;
    margin-top: 20px;
}
.new-title div .text-down img{
    position: absolute;
    padding-left:10px ;
    top: 3px;
    
}
    /* This's SMALLCONTENT */
.small-content {
    margin-top: 20px;
    
}
.line {
   
    background: #D9D9D9;
    transform: matrix(1, 0, 0, -1, 0, 0);
    height: 1px;
    width: 90%;
    padding-left: 5%;
    margin-top: 5px;
}
.img-content {
    position: relative;
    display: flex;
    gap: 100px;
    text-align: left;
    padding-right: 20px;
}

.img-content figure p {
    width: 200px;
}
.img-content figure img {
    width: 300px;
    height: 250px;
    
}
.duck-content img {
    width: 1100px;
    height: 800px;
}
.img-sidebar img {
    margin-top: 30px;
    width: 340px;
    height: 420px;
    border: 2px solid #023856;
}
/* This's SIDEBAR */
.sidebar {
    margin-left: 40px;
}
.banner_1 {
    width: 343px;
    height: 343px;
    background-color: #AEA3A3;
}
.banner_1 img {
    width: 343px;
    height: 343px;
    border: 2px solid #023856;
}
/* This's FOOTER */
body footer {
    background: #024165;
    font-family: "Inter";
    color: #FFFFFF;
}
body footer .up {
    display: flex;
    justify-content: space-between;
    gap: 151px;
}
body footer .up .left {
    margin: 20px 0px 24px 20px;
}
body footer .up .right {
    margin: 20px 20px 24px 20px;
}
body footer .bottom {
    text-align: center;
    padding-bottom: 14px;
}